@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 98.04% 98.04% 98.04%;
    --secondary-background: 38.82% 70.98% 73.33% 25%;
    --text: 35.69% 35.69% 35.69%;
    --primary: 38.82% 70.98% 73.33%;
    --secondary: 5.49% 23.14% 36.86%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
